.container {
	position: relative;
}

.item {
	height: 300px;
	width: 300px;
	background: purple;	
	color: yellow;
	margin: 10px;
	float: left;
	transition: all 500ms ease;
}

p {
    font-size: 230px;
    font-family: courier;
    position: absolute;
    margin: auto;
 }

#button-1:hover {
	background-color: white;
	opacity: .3;
}

#button-1:active {
	background: pink;
	opacity: 1;
}

#button-2:hover {
	transform: rotate(90deg) scale(1.5);
	background-color: white;
	opacity: .3;
}

#button-2:active {
	background: pink;
	opacity: 1;
}

#button-3:hover {
	background: yellow;
	font-size: 50px, white;
}

#button-4:hover {
	transform: scale(5);
}

#button-5:hover {
	transform: rotate(180deg) scale(5);
	background-color: white;
}


#button-6:hover {
	position: fixed;
    top: 0px;
    left: 0px;
}

#button-7:hover {
	position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
    background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
    background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
    background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
}


#button-8:hover {
    position: absolute;
    top: 50%;
    line-height: 100px;
    height: 90px;
    margin-top: -350px;
    font-size: 90px;
    width: 100%;
    text-align: center;
    color: transparent;
    -webkit-animation: blurFadeInOut 1s ease-in backwards;
    -moz-animation: blurFadeInOut 1s ease-in backwards;
    -ms-animation: blurFadeInOut 1s ease-in backwards;
    animation: blurFadeInOut 1s ease-in backwards;
}

#button-9:hover {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0px 480px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#button-10:hover {
	background-color: white;
    color: black;
    border: 6px solid #4CAF50; /* Green */
}

#button-11:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,5),0 17px 50px 0 rgba(0,0,0,0.19);
/*	background-color: blue;*/
}



#button-12:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: 120%;
    opacity: 0;
    transition: all 0.8s
}

#button-12:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#button-13:hover {
    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

#button-14:hover {
    background-color: red;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:320px; top:0px;}
    50%  {background-color:blue; left:320px; top:320px;}
    75%  {background-color:green; left:0px; top:320px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:320px; top:0px;}
    50%  {background-color:blue; left:320px; top:320px;}
    75%  {background-color:green; left:0px; top:320px;}
    100% {background-color:red; left:0px; top:0px;}
}

#button-15:hover  {
	background-color: blue;
-webkit-transform: rotateY(150deg); /* Safari */
    transform: rotateY(150deg); /* Standard syntax */
}

#button-16:hover {
	background-color: red;
	 border-radius: 60px;
}

#button-17 {
	background-color: blue;
}

#button-17 {
	border: 0px solid;
    padding: 0px; 
    width: 300px;
    resize: horizontal;
    overflow: auto;
}


#button-18 {
	background-color: red;
	resize: vertical;
    overflow: auto;
}

#button-19 {
	background-color: green;
	    resize: both;
    overflow: auto;
}

#button-20 {
	background-color: orange;
    border: 2px solid white;
    outline: 2px solid yellow;
    /* Move the outline 15px away from the border */
    outline-offset: -10px;
}

#button-21:hover {
	filter: blur(13px);
}

#button-22:hover {
	filter: invert(75%);
}



#button-23 {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
#button-23:hover {
	border: 2px solid yellow;
  transform: skew(-30deg);
}

@keyframes wobble-vertical {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

#button-24 {
  display: inline-block;
  transition-duration: .5s;
  transition-property: transform;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 20px white;
}
#button-24:hover {
  transform: translateY(6px);
  animation-name: hang;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#button-25:hover {
  border-color: white;
  color: white;
  animation: shakeThatBooty 0.3s linear 1;
  -webkit-animation: shakeThatBooty 0.3s linear 1;
  -moz-animation: shakeThatBooty 0.3s linear 1;
  -o-animation: shakeThatBooty 0.3s linear 1;
  -ms-animation: shakeThatBooty 0.3s linear 1;
}

@keyframes shakeThatBooty {
  33% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
  }
  67% {
    transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
  }
}

#button-26 {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
#button-26:hover {
  box-shadow: 0 0 40px 40px white inset;
}

#button-27 {
  color: white;
}
#button-27:hover {
  -webkit-animation: stripes-move 0.75s infinite linear;
          animation: stripes-move 0.75s infinite linear;
  background: -webkit-repeating-linear-gradient(45deg, white 0, white 0.25em, transparent 0.25em, transparent 0.5em);
  background: repeating-linear-gradient(45deg, white 0, white 0.25em, transparent 0.25em, transparent 0.5em);
  color: white;
}

@-webkit-keyframes stripes-move {
  100% {
    background-position: 5em 0px;
  }
}

@keyframes stripes-move {
  100% {
    background-position: 5em 0px;
  }
}

#button-28 {
  color: white;
}
#button-28:hover {
  -webkit-animation: pulse 1s ease-in infinite;
          animation: pulse 1s ease-in infinite;
  background: -webkit-radial-gradient(circle, rgba(249, 135, 155, 0.25) 43%, rgba(0, 0, 0, 0) 50%) 0 0/1em 1em, -webkit-radial-gradient(circle, rgba(249, 135, 155, 0.25) 43%, rgba(0, 0, 0, 0) 50%) 0.5em 0.5em/2em 2em;
  background: radial-gradient(circle, rgba(249, 135, 155, 0.25) 43%, rgba(0, 0, 0, 0) 50%) 0 0/1em 1em, radial-gradient(circle, rgba(249, 135, 155, 0.25) 43%, rgba(0, 0, 0, 0) 50%) 0.5em 0.5em/2em 2em;
  color: white;
}

@-webkit-keyframes pulse {
  50% {
    background-position: 0.66em 0.66em, -0.33em -0.33em;
  }
  100% {
    background-size: 2em 2em, 1em 1em;
    background-position: -1.5em -1.5em, -1em -1em;
  }
}

@keyframes pulse {
  50% {
    background-position: 0.66em 0.66em, -0.33em -0.33em;
  }
  100% {
    background-size: 2em 2em, 1em 1em;
    background-position: -1.5em -1.5em, -1em -1em;
  }
}

#button-29{
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
#button-29:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@keyframes pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}


@keyframes pulse-grow {
  to {
    transform: scale(1.1);
  }
}

#button-30 {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}

#button-30:before {
background-color: orange;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}

#button-30:hover:before {
  opacity: 1; 
  transform: scale(1, 1); 
}
#button-30:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
#button-30:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

#button-31 {

  transition: all 0.5s;
  position: relative;
}
#button-31:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
#button-31:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
#button-31:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
#button-31:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

#button-32:before, .button45:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#button-32:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
#button-32:hover::before {
  animation-name: rotateccw; 
  animation-duration: 3s;
}
#button-32:hover::after, .button45:hover::before {
  left: 96px;
  width: 64px;
  
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}