* {margin: 0px; padding 0px;}

#background {
	background-color: yellow;
	transition: 1s all;
}

.backgroundchange {
     background-color: #AD310B;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

#circle:hover {
    opacity: 1;
    transition: all 500ms ease;
}

/*#circle:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
*/

.container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	background-color: red;
}



#circle {
	background-color: red;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	bottom: 10;
	right: 10;
	opacity: 0.5;
}

.animation{
	animation: move 1s;
	animation-fill-mode: forwards;
}

@keyframes move{
	from{bottom: 10;
	right: 10;
    }
    to{
    	bottom:calc(50% - 25px);
        right: calc(50% - 25px);
    /*}*/
}

/*.selected {
    background:#f00;
}*/

.rain {
	background:#0D343A;
	background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(#000000)  );
	background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(0,0,0,1) 100%);
	overflow:hidden;}
}

.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
	width:1px;
	height:89px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;
  
}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}



.small-circle {
	background-color: yellow;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	opacity: 0;
}



/*.small-circle1 {
	opacity: 1;
}*/

.small-circle {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}

	.c1 {
  		transform-origin: 50% 200px;
    	animation: circling 4s linear infinite;
    	position: absolute;
  		left: 690px;
    	top: 200px;
  	}
  	

  	.c2 {
      transform-origin: 50% 200px;
    animation: circling 4s cubic-bezier(0.4, 0, 1, 1) infinite;
    position: absolute;
  	left: 690px;
    	top: 200px;
  	}

  	.c3 {
		transform-origin: 50% 200px;
    	animation: circling 4s cubic-bezier(0.07, 0.5, 0, 1.32) infinite;
    	position: absolute;
    	left: 690px;
    	top: 200px;
  	}


  	.c4 {
  	    transform-origin: 70% 200px;
    	animation: circling 4s cubic-bezier(1, -0.64, 0, 1.54) infinite;
    	position: absolute;
  		left: 690px;
    	top: 200px;
  	}

  	.c5 {
  			transform-origin:50% 200px;
  		animation: circling 4s cubic-bezier(0, 1.1, 1, -0.41) infinite;
  		position: absolute;
  	  	left: 690px;
    	top: 200px;
  	}

  	.c6 {
  		transform-origin:50% 200px;
  		animation: circling 4s linear infinite;
  		position: absolute;
  	  	left: 690px;
    	top: 200px;
  	}

	@keyframes across {
	  from {
	    left: -100px;
	  }
	  to {   
	    left: 700px;
	  }
	}

	@keyframes down {
	  from {
	    top: -100px;
	  }
	  to {   
	    top: 700px;
	  }
	}

	@keyframes whale {
	  from {
	    right: -400px;
	  }
	  to {   
	    right: 700px;
	  }
	}

	@keyframes diagonal {
	  0% {
	  	top: -100px;
	    left: -100px;
	  }
	  50% {
	  	top: 300px;
	    left: 300px;
	  }
	  100% {   
	  	top: 700px;
	    left: 700px;
	  }
	}

	@keyframes around {
	  0% {
	  	top: 50px;
	    left: 50px;
	  }
	  24% { 
	  	transform: rotate(0deg); 
	  }
	  25% {
	  	transform: rotate(90deg);
	  	top: 50px;
	    left: 500px;
	  }
	  49% { 
	  	transform: rotate(90deg); 
	  }
	  50% {
	  	transform: rotate(180deg); 
	  	top: 500px;
	    left: 500px;
	  }
	  74% { 
	  	transform: rotate(180deg); 
	  }
	  75% {
	  	transform: rotate(270deg); 
	  	top: 500px;
	    left: 50px;
	  }
	  99% {
	  	transform: rotate(270deg);
	  }
	  100% { 
	  	transform: rotate(360deg);  
	  	top: 50px;
	    left: 50px;
	  }
	}

	@keyframes circling {
	    from { 
	    	transform:rotate(0deg); 
	    }
	    to { 
	    	transform:rotate(360deg); 
	    }
	}

.small-circle_show {
	opacity: 1; 
	z-index: 4;
}



.small-circle-fast {
	background-color: orange;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	opacity: 0;
}

/*.small-circle1 {
	opacity: 1;
}*/

.small-circle-fast {

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

	.c7 {
  		transform-origin: 50% 200px;
    	animation: circling 1s linear infinite;
    	position: absolute;
  	left: 690px;
    	top: 200px;

  	}

  	.c8 {
      transform-origin: 50% 200px;
    animation: circling 2s cubic-bezier(0.4, 0, 1, 1) infinite;
    position: absolute;
  	left: 690px;
    	top: 200px;
  	}

  	.c9 {
		transform-origin: 50% 200px;
    	animation: circling 2s cubic-bezier(0.07, 0.5, 0, 1.32) infinite;
    	position: absolute;
    	left: 690px;
    	top: 200px;
  	}

  	.c10 {
  	    transform-origin: 70% 200px;
    	animation: circling 2s cubic-bezier(1, -0.64, 0, 1.54) infinite;
    	background-color: #FFCD55;
    	position: absolute;
  		left: 690px;
    	top: 200px;
  	}

  	.c11 {
  			transform-origin:50% 200px;
  		animation: circling 1s cubic-bezier(0, 1.1, 1, -0.41) infinite;
  		position: absolute;
  	  	left: 690px;
    	top: 200px;
  	}

  	.c12 {
  		transform-origin:50% 200px;
  		animation: circling 2s linear infinite;
  		position: absolute;
  	  	left: 690px;
    	top: 200px;
  	}

	@keyframes across {
	  from {
	    left: -100px;
	  }
	  to {   
	    left: 700px;
	  }
	}

	@keyframes down {
	  from {
	    top: -100px;
	  }
	  to {   
	    top: 700px;
	  }
	}

	@keyframes whale {
	  from {
	    right: -400px;
	  }
	  to {   
	    right: 700px;
	  }
	}

	@keyframes diagonal {
	  0% {
	  	top: -100px;
	    left: -100px;
	  }
	  50% {
	  	top: 300px;
	    left: 300px;
	  }
	  100% {   
	  	top: 700px;
	    left: 700px;
	  }
	}

	@keyframes around {
	  0% {
	  	top: 50px;
	    left: 50px;
	  }
	  24% { 
	  	transform: rotate(0deg); 
	  }
	  25% {
	  	transform: rotate(90deg);
	  	top: 50px;
	    left: 500px;
	  }
	  49% { 
	  	transform: rotate(90deg); 
	  }
	  50% {
	  	transform: rotate(180deg); 
	  	top: 500px;
	    left: 500px;
	  }
	  74% { 
	  	transform: rotate(180deg); 
	  }
	  75% {
	  	transform: rotate(270deg); 
	  	top: 500px;
	    left: 50px;
	  }
	  99% {
	  	transform: rotate(270deg);
	  }
	  100% { 
	  	transform: rotate(360deg);  
	  	top: 50px;
	    left: 50px;
	  }
	}

	@keyframes circling {
	    from { 
	    	transform:rotate(0deg); 
	    }
	    to { 
	    	transform:rotate(360deg); 
	    }
	}

.small-circle3 {
	background-color: yellow;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	position: absolute;
	opacity: 0;
}

/*.small-circle1 {
	opacity: 1;
}*/

.small-circle3 {

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

	.c13 {
  		transform-origin: 50% 300px;
    	animation: circling .5s linear infinite;
    	position: absolute;
  	left: 690px;
    	top: 100px;

  	}

  	.c14 {
      transform-origin: 50% 300px;
    animation: circling 1s cubic-bezier(0.4, 0, 1, 1) infinite;
    position: absolute;
  	left: 690px;
    	top: 100px;
  	}

  	.c15 {
		transform-origin: 50% 300px;
    	animation: circling 1s cubic-bezier(0.07, 0.5, 0, 1.32) infinite;
    	position: absolute;
    	left: 690px;
    	top: 100px;
  	}

  	.c16 {
  	    transform-origin: 70% 300px;
    	animation: circling 1s cubic-bezier(1, -0.64, 0, 1.54) infinite;
    	position: absolute;
  		left: 690px;
    	top: 100px;
  	}

  	.c17 {
  			transform-origin:50% 300px;
  		animation: circling .5s cubic-bezier(0, 1.1, 1, -0.41) infinite;
  		position: absolute;
  	  	left: 690px;
    	top: 100px;
  	}

  	.c18 {
  		transform-origin:50% 300px;
  		animation: circling 1s linear infinite;
  		position: absolute;
  	  	left: 690px;
    	top: 100px;
  	}

	@keyframes across {
	  from {
	    left: -100px;
	  }
	  to {   
	    left: 700px;
	  }
	}

	@keyframes down {
	  from {
	    top: -100px;
	  }
	  to {   
	    top: 700px;
	  }
	}

	@keyframes whale {
	  from {
	    right: -400px;
	  }
	  to {   
	    right: 700px;
	  }
	}

	@keyframes diagonal {
	  0% {
	  	top: -100px;
	    left: -100px;
	  }
	  50% {
	  	top: 300px;
	    left: 300px;
	  }
	  100% {   
	  	top: 700px;
	    left: 700px;
	  }
	}

	@keyframes around {
	  0% {
	  	top: 50px;
	    left: 50px;
	  }
	  24% { 
	  	transform: rotate(0deg); 
	  }
	  25% {
	  	transform: rotate(90deg);
	  	top: 50px;
	    left: 500px;
	  }
	  49% { 
	  	transform: rotate(90deg); 
	  }
	  50% {
	  	transform: rotate(180deg); 
	  	top: 500px;
	    left: 500px;
	  }
	  74% { 
	  	transform: rotate(180deg); 
	  }
	  75% {
	  	transform: rotate(270deg); 
	  	top: 500px;
	    left: 50px;
	  }
	  99% {
	  	transform: rotate(270deg);
	  }
	  100% { 
	  	transform: rotate(360deg);  
	  	top: 50px;
	    left: 50px;
	  }
	}

	@keyframes circling {
	    from { 
	    	transform:rotate(0deg); 
	    }
	    to { 
	    	transform:rotate(360deg); 
	    }
	}



.small-circle4 {
	background-color: rgba(3, 217, 245, 0.51);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	opacity: 0;
}


.small-circle4 {

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

	.c19 {
  		transform-origin: 50% 320px;
    	animation: circling .5s linear infinite;
    	position: absolute;
  	left: 690px;
    	top: 70px;

  	}

  	.c20 {
      transform-origin: 50% 320px;
    animation: circling 1s cubic-bezier(0.4, 0, 1, 1) infinite;
    position: absolute;
  	left: 690px;
    	top: 70px;
  	}

  	.c21 {
		transform-origin: 50% 320px;
    	animation: circling 1s cubic-bezier(0.07, 0.5, 0, 1.32) infinite;
    	position: absolute;
    	left: 690px;
    	top: 70px;
  	}

  	.c22 {
  	    transform-origin: 70% 320px;
    	animation: circling 1s cubic-bezier(1, -0.64, 0, 1.54) infinite;
    	background-color:  #FFCD55;
    	position: absolute;
  		left: 690px;
    	top: 70px;
  	}

  	.c23 {
  			transform-origin:50% 320px;
  		animation: circling .5s cubic-bezier(0, 1.1, 1, -0.41) infinite;
  		position: absolute;
  	  	left: 690px;
    	top: 100px;
  	}

  	.c24 {
  		transform-origin:50% 320px;
  		animation: circling 1s linear infinite;
  		position: absolute;
  	  	left: 690px;
    	top: 70px;
  	}

	@keyframes across {
	  from {
	    left: -100px;
	  }
	  to {   
	    left: 700px;
	  }
	}

	@keyframes down {
	  from {
	    top: -100px;
	  }
	  to {   
	    top: 700px;
	  }
	}

	@keyframes whale {
	  from {
	    right: -400px;
	  }
	  to {   
	    right: 700px;
	  }
	}

	@keyframes diagonal {
	  0% {
	  	top: -100px;
	    left: -100px;
	  }
	  50% {
	  	top: 300px;
	    left: 300px;
	  }
	  100% {   
	  	top: 700px;
	    left: 700px;
	  }
	}

	@keyframes around {
	  0% {
	  	top: 50px;
	    left: 50px;
	  }
	  24% { 
	  	transform: rotate(0deg); 
	  }
	  25% {
	  	transform: rotate(90deg);
	  	top: 50px;
	    left: 500px;
	  }
	  49% { 
	  	transform: rotate(90deg); 
	  }
	  50% {
	  	transform: rotate(180deg); 
	  	top: 500px;
	    left: 500px;
	  }
	  74% { 
	  	transform: rotate(180deg); 
	  }
	  75% {
	  	transform: rotate(270deg); 
	  	top: 500px;
	    left: 50px;
	  }
	  99% {
	  	transform: rotate(270deg);
	  }
	  100% { 
	  	transform: rotate(360deg);  
	  	top: 50px;
	    left: 50px;
	  }
	}

	@keyframes circling {
	    from { 
	    	transform:rotate(0deg); 
	    }
	    to { 
	    	transform:rotate(360deg); 
	    }
	}

 


.small-circle5 {
	background-color: rgba(233, 30, 99, 0.88);
	width: 100px;
	height: 100px;
	border-radius: 40%;
	position: absolute;
	opacity: 0;
}


.small-circle5 {

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

	.c25 {
      transform-origin: 80% 400px;
    animation: circling 1s cubic-bezier(1, -0.3, 0, 1.02) infinite;
    position: absolute;
    left: 690px;
    top: 5px;

  	}

  	.c26 {
      transform-origin: 50% 400px;
    animation: circling 4s cubic-bezier(0.8, -4, 1, 1.05) infinite;
    position: absolute;
  	left: 690px;
    	top: 5px;
  	}

  	.c27 {
		transform-origin: 50% 400px;
    	animation: circling 3s cubic-bezier(1, -0.3, 0, 0.67) infinite;
    	position: absolute;
    	left: 690px;
    	top: 5px;
  	}

  	.c28 {
  	    transform-origin: 70% 400px;
    	animation: circling 5s cubic-bezier(0.96, 0.99, 0, 0.96) infinite;
    	position: absolute;
  		left: 690px;
    	top: 5px;
  	}

  	.c29 {
  			transform-origin:50% 400px;
  		animation: circling 3s cubic-bezier(0, 1.1, 1, -0.41) infinite;
  		position: absolute;
  	  	left: 690px;
    	top: 5px;
  	}

  	.c30 {
  		transform-origin:50% 400px;
  		animation: circling 4s linear infinite;
  		position: absolute;
  	  	left: 690px;
    	top: 5px;
  	}

	@keyframes across {
	  from {
	    left: -100px;
	  }
	  to {   
	    left: 700px;
	  }
	}

	@keyframes down {
	  from {
	    top: -100px;
	  }
	  to {   
	    top: 700px;
	  }
	}

	@keyframes whale {
	  from {
	    right: -400px;
	  }
	  to {   
	    right: 700px;
	  }
	}

	@keyframes diagonal {
	  0% {
	  	top: -100px;
	    left: -100px;
	  }
	  50% {
	  	top: 300px;
	    left: 300px;
	  }
	  100% {   
	  	top: 700px;
	    left: 700px;
	  }
	}

	@keyframes around {
	  0% {
	  	top: 50px;
	    left: 50px;
	  }
	  24% { 
	  	transform: rotate(0deg); 
	  }
	  25% {
	  	transform: rotate(90deg);
	  	top: 50px;
	    left: 500px;
	  }
	  49% { 
	  	transform: rotate(90deg); 
	  }
	  50% {
	  	transform: rotate(180deg); 
	  	top: 500px;
	    left: 500px;
	  }
	  74% { 
	  	transform: rotate(180deg); 
	  }
	  75% {
	  	transform: rotate(270deg); 
	  	top: 500px;
	    left: 50px;
	  }
	  99% {
	  	transform: rotate(270deg);
	  }
	  100% { 
	  	transform: rotate(360deg);  
	  	top: 50px;
	    left: 50px;
	  }
	}

	@keyframes circling {
	    from { 
	    	transform:rotate(0deg); 
	    }
	    to { 
	    	transform:rotate(360deg); 
	    }
	}

.border2 {
	border: 1px solid red;
}

/*//randomly*/

.small-circle6 {
	background-color: purple;
	width: 50px;
	height: 50px;
	border-radius: 10%;
	position: absolute;
	opacity: 0;
}



/*.small-circle1 {
	opacity: 1;
}*/

.small-circle {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}

  	.c31 {
  		animation: across 0.5s infinite;
  		position: absolute;
  		left: -100px;
  		top: 100px;
  	}

  	.c32 {
  		animation: down 0.5s infinite;
  		transform: rotate(90deg);
  		position: absolute;
  		top: -100px;
  		left: 200px;
  	}

  	.c33 {
  		animation: whale 1s infinite;
		border-width: 20px 0 20px 40px;
  		transform: rotate(180deg);
  		position: absolute;
  		right: -400px;
  		top: 250px;
  	}

  	.c34 {
  		animation: diagonal 0.5s infinite;
		border-color: transparent transparent transparent #FFCD55;
  		transform: rotate(45deg);
  		position: absolute;
  		top: -300px;
  		left: -100px;
  	}

  	.c35 {
  		animation: around 1s infinite;
  		transform: rotate(0);
  		position: absolute;
  		top: 50px;
  		left: 50px;
  	}

  	.c36 {
  		transform-origin:50% 200px;
  		animation: circling 2s linear infinite;
  		position: absolute;
  		top: 100px;
  		left: 300px;
  	}

	@keyframes across {
	  from {
	    left: -100px;
	  }
	  to {   
	    left: 900px;
	  }
	}

	@keyframes down {
	  from {
	    top: -100px;
	  }
	  to {   
	    top: 700px;
	  }
	}

	@keyframes whale {
	  from {
	    right: -400px;
	  }
	  to {   
	    right: 700px;
	  }
	}

	@keyframes diagonal {
	  0% {
	  	top: -100px;
	    left: -100px;
	  }
	  50% {
	  	top: 300px;
	    left: 300px;
	  }
	  100% {   
	  	top: 700px;
	    left: 700px;
	  }
	}

	@keyframes around {
	  0% {
	  	top: 50px;
	    left: 50px;
	  }
	  24% { 
	  	transform: rotate(0deg); 
	  }
	  25% {
	  	transform: rotate(90deg);
	  	top: 50px;
	    left: 500px;
	  }
	  49% { 
	  	transform: rotate(90deg); 
	  }
	  50% {
	  	transform: rotate(180deg); 
	  	top: 500px;
	    left: 500px;
	  }
	  74% { 
	  	transform: rotate(180deg); 
	  }
	  75% {
	  	transform: rotate(270deg); 
	  	top: 500px;
	    left: 50px;
	  }
	  99% {
	  	transform: rotate(270deg);
	  }
	  100% { 
	  	transform: rotate(360deg);  
	  	top: 50px;
	    left: 50px;
	  }
	}

	@keyframes circling {
	    from { 
	    	transform:rotate(0deg); 
	    }
	    to { 
	    	transform:rotate(360deg); 
	    }
	}

.small-circle7 {
	background-color: rgba(13, 212, 0, 0.63);
	width: 70px;
	height: 70px;
	border-radius: 30%;
	position: absolute;
	opacity: 0;
}


.small-circle7 {

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

	.c37 {
      transform-origin: 50% 450px;
    animation: circling .1s cubic-bezier(0.4, -0.49, 0.6, 0.63) infinite;
    position: absolute;
    left: 690px;
    top: -60px;

  	}

  	.c38 {
      transform-origin: 50% 450px;
    animation: circling .3s cubic-bezier(0.8, -4, 1, 1.05) infinite;
    position: absolute;
  	left: 690px;
    	top: -60px;
  	}

  	.c39 {
		transform-origin: 50% 450px;
    	animation: circling .1s cubic-bezier(1, -0.3, 0, 0.67) infinite;
    	position: absolute;
    	left: 690px;
    	top: -60px;
  	}

  	.c40 {
  	    transform-origin: 50% 450px;
    	animation: circling 2s cubic-bezier(0.96, 0.99, 0, 0.96) infinite;
    	position: absolute;
  		left: 690px;
    	top: -60px;
  	}

  	.c41 {
  			transform-origin:50% 450px;
  		animation: circling .2s cubic-bezier(0, 1.1, 1, -0.41) infinite;
  		position: absolute;
  	  	left: 690px;
    	top: -60px;
  	}

  	.c42 {
  		transform-origin:50% 450px;
  		animation: circling 2s linear infinite;
  		position: absolute;
  	  	left: 690px;
    	top: -60px;
  	}

	@keyframes circling {
	    from { 
	    	transform:rotate(0deg); 
	    }
	    to { 
	    	transform:rotate(360deg); 
	    }
	}

	.small-circle8 {
	background-color: rgba(13, 212, 0, 0.63);
	width: 20px;
	height: 20px;
	border-radius: 10%;
	position: absolute;
	opacity: 0;
}


.small-circle8 {

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

	.c43 {
      transform-origin: 50% 500px;
    animation: circling .05s cubic-bezier(0.4, -0.49, 0.6, 0.63) infinite;
    position: absolute;
    left: 690px;
    top: -100px;

  	}

  	.c44 {
      transform-origin: 50% 500px;
    animation: circling .03s cubic-bezier(0.8, -4, 1, 1.05) infinite;
    position: absolute;
  	left: 690px;
    top: -100px;
  	}

  	.c45 {
		transform-origin: 50% 500px;
    	animation: circling .09s cubic-bezier(1, -0.3, 0, 0.67) infinite;
    	position: absolute;
    	left: 690px;
    	top: -100px;
  	}

  	.c46 {
  	    transform-origin: 50% 500px;
    	animation: circling 1s cubic-bezier(0.96, 0.99, 0, 0.96) infinite;
    	position: absolute;
  		left: 690px;
    	top: -100px;
  	}

  	.c47 {
  			transform-origin:50% 500px;
  		animation: circling .1s cubic-bezier(0, 1.1, 1, -0.41) infinite;
  		position: absolute;
  	  	left: 690px;
    	top: -100px;
  	}

  	.c48 {
  		transform-origin:50% 500px;
  		animation: circling .2s linear infinite;
  		position: absolute;
  	  	left: 690px;
    	top: -100px;
  	}

	@keyframes circling {
	    from { 
	    	transform:rotate(0deg); 
	    }
	    to { 
	    	transform:rotate(360deg); 
	    }
	}

/*	//hover*/

/*	.small-circle4:hover {

  -webkit-transition: all 10s ease-in-out;
  -moz-transition: all 10s ease-in-out;
  -o-transition: all 10s ease-in-out;
  transition: all 10s ease-in-out;
  opacity: 1;
}

	#c19 {
  		transform-origin: 50% 500px;
    	animation: circling 10s linear infinite;
    	position: absolute;
  	left: 690px;
    	top: 100px;

  	}

  	#c20 {
      transform-origin: 50% 300px;
    animation: circling 15s cubic-bezier(0.4, 0, 1, 1) infinite;
    position: absolute;
  	left: 690px;
    	top: 100px;
  	}

  	#c21 {
		transform-origin: 50% 300px;
    	animation: circling 15s cubic-bezier(0.07, 0.5, 0, 1.32) infinite;
    	border-width: 10px 20px 20px 361px;
    	position: absolute;
    	left: 690px;
    	top: 100px;
  	}

  	#c22 {
  	    transform-origin: 70% 300px;
    	animation: circling 15s cubic-bezier(1, -0.64, 0, 1.54) infinite;
    	border-color: transparent transparent transparent #FFCD55;
    	position: absolute;
  		left: 690px;
    	top: 100px;
  	}

  	#c23 {
  			transform-origin:50% 300px;
  		animation: circling 10s cubic-bezier(0, 1.1, 1, -0.41) infinite;
  		position: absolute;
  	  	left: 690px;
    	top: 100px;
  	}

  	#c24 {
  		transform-origin:50% 300px;
  		animation: circling 15s linear infinite;
  		position: absolute;
  	  	left: 690px;
    	top: 100px;
  	}

	@keyframes across {
	  from {
	    left: -100px;
	  }
	  to {   
	    left: 700px;
	  }
	}

	@keyframes down {
	  from {
	    top: -100px;
	  }
	  to {   
	    top: 700px;
	  }
	}

	@keyframes whale {
	  from {
	    right: -400px;
	  }
	  to {   
	    right: 700px;
	  }
	}

	@keyframes diagonal {
	  0% {
	  	top: -100px;
	    left: -100px;
	  }
	  50% {
	  	top: 300px;
	    left: 300px;
	  }
	  100% {   
	  	top: 700px;
	    left: 700px;
	  }
	}

	@keyframes around {
	  0% {
	  	top: 50px;
	    left: 50px;
	  }
	  24% { 
	  	transform: rotate(0deg); 
	  }
	  25% {
	  	transform: rotate(90deg);
	  	top: 50px;
	    left: 500px;
	  }
	  49% { 
	  	transform: rotate(90deg); 
	  }
	  50% {
	  	transform: rotate(180deg); 
	  	top: 500px;
	    left: 500px;
	  }
	  74% { 
	  	transform: rotate(180deg); 
	  }
	  75% {
	  	transform: rotate(270deg); 
	  	top: 500px;
	    left: 50px;
	  }
	  99% {
	  	transform: rotate(270deg);
	  }
	  100% { 
	  	transform: rotate(360deg);  
	  	top: 50px;
	    left: 50px;
	  }
	}

	@keyframes circling {
	    from { 
	    	transform:rotate(0deg); 
	    }
	    to { 
	    	transform:rotate(360deg); 
	    }
	}*/

/*	.small-circle-fast_show {
	opacity: 1;
}*/

}

/*	.small-circle:hover {
		animation: whale 5s infinite;
		border-width: 20px 0 20px 40px;
  		transform: rotate(180deg);
  		position: absolute;
  */

	}



